html, body {
    height: 100%;
    background-color: beige;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Do Hyeon', sans-serif;
    color: black;
    text-shadow: 2px 2px 2px 2px black;
    padding: 0.5em;
}

.nav {
    font-family: 'Black Han Sans', sans-serif;
    background-color: lightgrey;
}

.logo {
    height: 40px;
    width: 40px;
}

.lead {
    background-color: white;
    opacity: .2;
}

.jumbotron {
    background-image: url("../images/jumbo.jpg");
    background-repeat: no-repeat;
    height: 20%;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    background-color: white;
    margin-bottom: 0px;
}

.form-box {
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom-style: solid;
    /* border-style: solid; */
    border-width: .5px;
    border-color: grey;
    padding: 8px 8px 8px 8px;
}

.form-check-label {
    color: black;
}

.btn-info {
    margin-top: 45px;
}

.yelp-result-img {
    height: 250px;
    width: 250px;
    /* padding-right: 10px; */
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.yelp-result-name {
    text-align: center;
}

.result-border {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin: 25px 0 0 25px;
}

.gif-image img {
    height: 100px;
    width: 100px;
}

.footer {
    flex-shrink: 0;
}

.footer-text{
    background-color: white;
    margin-bottom: 0px;
}
