body {

}

p {
    font-family: 'Do Hyeon', sans-serif;
}

.nav {
    
}

.lead {
    background-color: white;
    opacity: .2;
}

.jumbotron {
    background-image: url("../images/jumbo.jpeg");
    height: 90%;
}

